$standardBckgrnd: #2a2a2a;
//$dropdown: #1a1c3d;
$neutral: #3a3a3a;
$lightBckgrnd: #202046;
$inputBckgrnd: #2c2c48;
$inputBorder: #515170;
$icon: #4a5ce5;
$support: #0082fc;
$disabledBtnBorder: #81819c;
$secondary: #afafbb;
$btnPrimary: #92a0f7;
$disabledBtnText: #d2d2d8;
$successDark: #0c660d;
$success: #68d640;
$successLight: #ecfcd9;
$danger: #f95122;
$okay: #f9c107;
$active: #ff8633;
$warning: rgba(255, 134, 51, 0.66);
$default: #ffffff;
$disabledSliderBtn: #e9e9ef;
$inputErrorMsg: #fee9d2;

$statusActive: #68d640;
$statusForming: #0082fc;
$statusOnRetreat: #f95122;
