@use '../../../styles/' as *;

.fieldOpponent {
  position: relative;
  flex-direction: column;

  h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: $danger;
    text-shadow: 0 0 1px #000;
    text-align: center;
  }

  &__gameArea {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;

    &__cell {
      position: relative;
      height: 60px;
      width: 60px;
      border: 1px solid rgb(255, 255, 255);
      background: rgba(207, 207, 206, 0.493);

      @media screen and (orientation: portrait) {
        @media screen and (max-width: $notepad) {
          height: 52px;
          width: 52px;
        }

        @media screen and (max-width: $tablet) {
          height: 30px;
          width: 30px;
        }
      }

      @media screen and (orientation: landscape) {
        @media screen and (max-width: $notepad) {
          height: 32px;
          width: 32px;
        }

        @media screen and (max-width: $tablet) {
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .hitShip {
    background: rgba(52, 230, 8, 0.897);
    border: 1px solid rgb(255, 255, 255);
  }

  .hitMiss {
    background: rgba(28, 28, 36, 0.4);
    border: 1px solid rgba(187, 187, 192, 0.493);
  }

  .ship {
    background: rgba(2, 31, 247, 0.8);
    // border: 1px solid rgba(114, 123, 204, 0.6);
  }
}
