@use './styles' as *;

html,
body {
  margin: 0;
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.728vw;
  line-height: 1.2;
  background-size: cover;
  background-image: url('../src//assets/image/background.jpg');
}

::-webkit-scrollbar {
  width: 8px;

  @media screen and (max-width: $mobile) {
    width: 5px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $active;
  border-radius: 8px;

  @media screen and (max-width: $mobile) {
    border-radius: 3px;
  }
}

::-webkit-scrollbar-track {
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

a {
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: inherit;
}

code {
  font-family: 'Archivo', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.app {
  position: relative;
  flex-direction: column;
  min-height: 100dvh;

  .homepage {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }
}
